<%= link_to 'Edit', edit_reason_path(@reason), class: 'btn btn-success pull-right' %>
<%= link_to 'Back', reasons_path, class: 'btn btn-warning pull-right' %>
<p>
  <strong>Name:</strong>
  <%= @reason.name %>
</p>
