<!DOCTYPE html>
<html lang="en">
<head>
  <title>mVMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme2.css">
  <link rel="stylesheet" href="/css/mvms_style.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    @media print {
      .no_print {
        display: none;
      }
      .myDivToPrint {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        margin-top: 100px !important;
        left: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
      }
      }

  </style>
</head>

<body>
<%= yield %>
<style>
  a.btn {
    color: white !important;
  }
</style>
</body>
</html>
