<!DOCTYPE html>
<html lang="en">
<head>
  <title>mVMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme2.css">
  <link rel="stylesheet" href="/css/mvms_style.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    @media print {
    #visitor_badge{
      width: 800px !important;
      height: 500px !important;
      padding-top: 0px !important;
    }
    #visitor_badge img {
     width: 450px !important;
    }
      .no_print {
        display: none;
      }
      .myDivToPrint {
        border: 0 !important;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        margin-top: 150px !important;
        margin-left: -150px !important;
        left: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
      }
    .myDivToPrint img{height: 420px!important;}
    .myDivToPrint p{
      padding-top: 30px!important;
      line-height: 40px}
    .myDivToPrint .col-xs-6{
      overflow: hidden;
      padding-top: 10px;
    }
    #content_badge{
      font-size: 22px;
      padding-top: 51px;
    }
    #main{
      padding: 0!important;
      margin: 0!important;
    }
    }

  </style>
</head>

<body>
<%= yield %>
<style>
  a.btn {
    color: white !important;
  }
</style>
</body>
</html>
