<!DOCTYPE html>
<html lang="en">
<head>
  <title>mVMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/moment.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme2.css">
  <link rel="stylesheet" href="/css/mvms_style.css">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    @media print {
    #visitor_badge{
      width: 210px !important;
      height: 110px !important;
      padding-top: 0px !important;
    }
    #visitor_badge img {
     /*width: 120px !important;*/
    }
      .myDivToPrint img{height: 70px!important;}
      .no_print {
        display: none;
      }
      .myDivToPrint {
        border: 1px solid black !important;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background-color: white;
        height: 100vh;
        width: 100vw;
        position: fixed;
        margin-top: 80px !important;
        margin-left: -30px !important;
        left: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
      }

    .myDivToPrint p{
      /*padding-top: 4px!important;*/
      /*line-height: 3px*/
    }
    .myDivToPrint .col-xs-6{
      overflow: hidden;
      /*padding-top: 4px;*/
    }

    hr{
      margin: 2px;
      padding: 2px;
    }
      #content_badge p{
        font-size: 7px !important;
        /*padding-top: 4px;*/
      }
      #title_badge{
        font-size: 6px !important;
      }
    #main{
      padding: 0!important;
      margin: 0!important;
    }
    }

  </style>
</head>

<body>
<%= yield %>
<style>
  a.btn {
    color: white !important;
  }
</style>
</body>
</html>
